/*.container{
    max-width: 70%;
}*/
.row-header{
    margin:0px auto;
    padding: 0px auto;
}

.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: aqua;
    margin: 0pw auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(11, 110, 110);
    color: floralwhite;
}
.address{
    font-size: 80%;
    margin: 0px;
    color: black;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: rgb(56, 12, 97);
}
.cards-inputs{
    border: 0.5px solid rgb(221, 219, 219) ;
    border-radius: 4px;
    height: 40px;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel{
    background: #512DA8;

}
.carousel-items{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
}
.carousel-caption{
    position: absolute;
    top: 50px;
    right: 0;
}
.carousel-inner{
    min-height: 300px;
}
.carousel-control-prev{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    background-color: gray;
}
.carousel-control-next{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100px;
    background-color: gray;
}

.modal-inputs{
    border: 0.5px solid rgb(221, 219, 219) ;
    border-radius: 4px;
    height: 40px;
}
#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
} 

